name: Deploy to VDS Server

on:
  push:
    branches:
      - master
env:
  env_var: ${{ vars.ENV_CONTEXT_VAR }}


jobs:

  docker-image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_REPO }}:latest .
          echo ${{ secrets.DOCKER_HUB_PASSWORD }} | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
          docker push ${{ secrets.DOCKER_HUB_REPO }}:latest

